web/src/main/resources/dtd/xhtml11-3k.dtd

<!-- ....................................................................... -->
<!-- XHTML 1.1 DTD  ........................................................ -->
<!-- file: xhtml11-thymeleaf-2.dtd
-->
<!-- Modified XHTML 1.1 DTD for Thymeleaf, v4 (>= Thymeleaf v2.1.0)

     This file makes use of the XHTML modular extension system in order to
     add thymeleaf's elements and attributes.

     Use of this file requires a SYSTEM DOCTYPE (no PUBLICID) with the
     following identifier:

     SYSTEM "http://www.thymeleaf.org/dtd/xhtml11-thymeleaf-4.dtd"

     More info: http://www.thymeleaf.org

-->


<!-- Include the Standard XHTML 1.1 specification........................... -->
<!-- ....................................................................... -->
<!ENTITY % xhtml11.dtd PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
%xhtml11.dtd;



<!-- Register thymeleaf specific attributes................................. -->
<!-- ....................................................................... -->

<!ENTITY % allthymeleafattrs
 "k3:active            CDATA  #IMPLIED
  k3:activestyle       CDATA  #IMPLIED
  k3:activeparent      CDATA  #IMPLIED"
  >


<!ATTLIST %a.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %abbr.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %acronym.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %address.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %area.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %b.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %base.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %bdo.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %big.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %blockquote.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %body.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %br.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %button.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %caption.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %cite.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %code.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %col.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %colgroup.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %dd.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %del.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %dfn.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %div.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %dl.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %dt.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %em.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %fieldset.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %form.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h1.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h1.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h2.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h3.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h4.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h5.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %h6.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %head.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %hr.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %html.qname;
  xmlns:th   %URI.datatype;   #IMPLIED
  %allthymeleafattrs;
  >

<!ATTLIST %i.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %img.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %input.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %ins.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %kbd.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %label.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %legend.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %li.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %link.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %map.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %meta.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %noscript.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %object.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %ol.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %optgroup.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %option.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %p.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %param.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %pre.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %q.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %samp.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %script.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %select.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %small.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %span.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %strong.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %style.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %sub.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %sup.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %table.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %tbody.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %td.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %textarea.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %tfoot.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %th.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %thead.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %title.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %tr.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %tt.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %ul.qname;
  %allthymeleafattrs;
  >

<!ATTLIST %var.qname;
  %allthymeleafattrs;
  >
